@import "../../utils.scss";

.photos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    margin: 0 auto;
    max-width: 1800px;
    padding: 15px 14px;
    border-radius: 5px;
    list-style-type: none;
    z-index: 1;
    background-color: $background-color;
  
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
  }

    &__item {
      border: 1px solid $hover-color;
      border-radius: 8px;
      background-color: $base-color;
    }

    &__img {
      margin: 0;
      width: 50vw;
      border-radius: 8px;
      @include hover ( transform , scale(1.02));

      @media (max-width: 1200px) {
        width: 500px;
        height: 400px;
      }
    }
  
    &__title {
      margin: 20px;
      padding-top: 45px;
      font-weight: 500;
      font-size: 27px;
      line-height: 15px;
    }
  
    &__like-counter {
      margin: 25px;
      font-weight: bold;
      font-size: 26px;
      line-height: 22px;
    }
  
    &__like {
      display: flex;
    }

    &__button-open {
      width: 200px;
      height: 40px;
      margin: 10px;
      border-radius: 15px;
      border: 1px solid $hover-color;
  
      font-weight: bold;
      font-size: 14px;
      line-height: 40px;
  
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
  
      background: $button-color;
      transition: 0.8s;
      cursor: pointer;
      outline: none;
      box-shadow: 2px 2px $hover-color;
  
      @include hover ( background-color , $hover-color);
    }
}