@import "utils";
@import "./components/Footer/Footer.scss";
@import "./components/Header/Header.scss";
@import "./components/Photo/Photo.scss";
@import "./components/Photos/Photos.scss";

.galery {
  font-family: $main-font;
  background-color: $background-color;
  z-index: 1;

  &__heading {
    margin: 0;
    padding: 30px;
    text-align: center;
    font-size: 50px;
    cursor: pointer;

    &:hover {
      &::after {
        content: "";
        position: absolute;
        width: 150px;
        height: 2px;
        bottom: 515px;
        left: 595px;
  
        background: $hover-color;
      }
  }
}

  &__search {
    margin-left: 30px;
  }

  &__input {
    width: 250px;
    height: 30px;
    background-color: $base-color;
    border: 1px solid $hover-color;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    @include hover ( background-color , $button-color);
    @include hover ( box-shadow, 2px 2px #888888);
  }

  &__search-text {
    font-size: 20px;
  }

  &__list {
    margin: 0 auto;
  }

  &__buttons {
    margin: 10px auto;
    width: 250px;
    z-index: 1;
  }

  &__button-page {
    width: 23px;
    height: 23px;
    margin: 3px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: $button-color;
    cursor: pointer;
    transition: 0.8s;

    @include hover ( background-color , $hover-color);
    @include hover ( box-shadow, 1px 1px #888888);
  }

  &__selectedPage {
    width: 23px;
    height: 23px;
    margin: 3px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    background-color: $hover-color;
    cursor: pointer;
  }
}